@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  .bg {
    background-image: url("../../public/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
  }
  
  @media only screen and (max-width: 768px) {
    .bg {
      background-image: url("../../public/hero.png");
      background-position: center; /* Center the background image */
      height: 1000px;
      width: 100%;
    }
  }
  
  
  .oneBg {
    background-image: url("../../public/amsterdam.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    object-fit: cover;
    z-index: -10;
}
.twoBg {
  background-image: url("../../public/singapore.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  object-fit: cover;
  z-index: -10;
}
.threeBg {
  background-image: url("../../public/switzerland.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  object-fit: cover;
  z-index: -10;
}
.fourBg {
  background-image: url("../../public/norway.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  object-fit: cover;
  z-index: -10;
}
.scale-100 {
    transform: scale(1);
}

.group:hover .scale-100 {
    transform: scale(1.1);
}

  @layer base {
    html[data-theme='#FF7A5C'] {
      --primary: #FF7A5C;
      --background: #FF7A5C;
      --light:#FFEEEB;
    }
    html[data-theme='#6A35FF'] {
      --primary: #6A35FF;
      --background: #6A35FF;
      --light:#EBE6FC;

    }
    html[data-theme='#26CBB7'] {
      --primary: #26CBB7;
      --background: #26CBB7;
      --light:#DDF5F2;

    }
  }
 
